<section class="section awards-section">
                <h2 class="section-title"><i class="fa fa-trophy"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href="http://qcitour.co.kr/index.php?mid=members&member_list_filter=12" target="_blank">Qualcomm IT Tour 12th Member</a></h3>
                            <div class="time">2014 Summer</div>
                        </div><!--//upper-row-->
                        <div class="company">Qualcomm Technologies, Inc</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
   
                
            </section><!--//section-->
