<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <div class="meta">
        <div class="upper-row">
            <h3 class="job-title">B.S Seoul National University</h3>
            <div class="time">03/2010 ~ 02/2017</div>
        </div><!--//upper-row-->
        <div class="company">Major in Electrical and Computer Engineering <br>Combined Minor: Engineering Biotechnology </div>
    </div><!--//meta-->
    <div class="details">
        <p style="padding: 0px 0px 15px;"><em> **Completed 146 Units on the coursework (Requirements: 130 Unit) </em> <br> <em> **Focused on the Robot Intelligent System &amp; Micro/Nano System(MEMS/NEMS/Microfluidics)</em></p>  
    </div><!--//details-->
    
    <div class="meta">
        <div class="upper-row">
            <h3 class="job-title">M.S Seoul National University</h3>
            <div class="time">03/2017 ~ </div>
        </div><!--//upper-row-->
        <div class="company">Major in Electrical and Computer Engineering</div>
    </div><!--//meta-->
    <div class="details">
        <p><a href="risl.snu.ac.kr" target="_blank">Robotics &amp; Intelligent Systems Laboratory</a> (Director: Beom Hee Lee)</p>  
    </div><!--//details-->
</div><!--//summary-->
</section><!--//section-->
