<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p> <strong> B.S Seoul National University (03/2010 ~ 02/2017) </strong> <br> - Major in Electrical and Computer Engineering <br> - Combined Minor: Engineering Biotechnology <br><br> <em> **Completed 146 Units on the coursework (Requirements: 130 Unit) </em> <br> <em> **Focused on the Robot Intelligent System & Micro/Nano System(MEMS/NEMS/Microfluidics)</em><br></p>
    <p> <strong> M.S Seoul National University (03/2017 ~ ) </strong> <br> - Major in Electrical and Computer Engineering <br> - <a href="risl.snu.ac.kr" target="_blank">Robotics & Intelligent Systems Laboratory</a> (Director: Beom Hee Lee) </p>
    
</div><!--//summary-->
</section><!--//section-->
