<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Seoho Electric Co.Ltd., Anyang, Korea</h3>
                            <div class="time">01/2012 ~ 03/2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Engineer</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="padding: 0px 0px 20px;"> Worked as an Skilled industrial Personnel Engineer(Alternative Military Service)</p>  
                    </div><!--//details-->

                    <div class="meta">
                          <div class="upper-row">
                              <h3 class="job-title">Samsung Electronics, Suwon, Korea</h3>
                              <div class="time">07/2015 ~ 08/2015</div>
                          </div><!--//upper-row-->
                          <div class="company">Intern</div>
                      </div><!--//meta-->
                      <div class="details">
                          <p> Worked at IT &amp; Mobile Communication Group</p>  

                      </div><!--//details-->
                </div><!--//item-->
   
                
            </section><!--//section-->
