<section class="section awards-section">
                <h2 class="section-title"><i class="fa fa-trophy"></i>Awards & Scholarship</h2>
                
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">National Science and Engineering Scholarship</h3>
                            <div class="time">02/2010 ~ 08/2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Korea Student Aid Foundation(KOSAF)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                    <div class="details">
                        <p style="padding: 0px 0px 20px;"> 2010 Spring, 2011 Spring, 2011 Fall, 2014 Fall, 2015 Spring, 2015 Fall, 2016 Spring </p>  
                    </div><!--//details-->    
                    </div><!--//details-->
                </div><!--//item-->
   
                
            </section><!--//section-->
