<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">JAVA</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">PHP</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div><!--//level-bar-->
                    </div><!--//item-->
                   <div class="item">
                        <h3 class="level-title">Python &amp; Django</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Linux</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Spring Framework</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Android</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Operation Research</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Machine Learning - Tensorflow</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Quality Management</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Managemnt Information System</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                </div>  
            </section><!--//skills-section-->
